html {
  height: 100%;
}
body {
  background: #313c4c;
  color: white;
  height: 100%;
  font-family: "zipper";
}

h2 {
    text-decoration: underline;
}

#app {
  position:relative;
  margin-bottom: -20px;
  min-height: 100%;
}


@font-face {
    font-family: zipper;
    src: url(/fonts/zipper.otf);
}

#skillsH2 {
  text-align: center;
}
/*<-----------------------------------------HEADER----------------------------------------->*/

#header {
  display: block;
  margin-top: 3vw;
  border: solid white 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 9vmax;
  font-size: 5vmax;
}

#subHeader {
  display: block;
  margin-top: 3vw;
  text-align: center;
  vertical-align: middle;
  line-height: 4vmax;
  font-size: 3vmax;
  color: black;
  background-color: white;
}


/*<---------------------------------------------SKILLS-------------------------------------------->*/
#iconContainer {
  margin-top: 4vmax;
  text-align: center;
}
.icon {
  height: 5vmax;
  margin-left: 10px;
  margin-right: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

/*<---------------------------------------------ABOUT ME-------------------------------------------->*/

#aboutMe {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
  background-color: white;
  color: black;
}

#aboutMeLeft {
  border: solid 1px white;
  margin-bottom: 40px;
}

#aboutMeRight {
  border: solid 1px white;
  margin-bottom: 40px;

}

#contactInfo{

}

/*<---------------------------------------------SKILLS---------------------------------------------->*/

#skill {
  list-style: none;
  color: white;
  width: 100%;
  margin: 50px auto 0;
  position: relative;
  line-height: 2em;
  padding: 30px 0;
}

#skill li {
  margin-bottom:50px;
  background:#e9e5e2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
  background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
  background-image: linear-gradient(top, #e1ddd9, #e9e5e2);
  height:20px;
  border-radius:10px;
  -moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
  box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;
}

#skill li h3 {
  position:relative;
  top:-25px;
}

.bar {
  height:18px;
  margin:1px 2px;
  position:absolute;
  border-radius:10px;
  -moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  -webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
  box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
}

.javascript {
  width:90%;
  -moz-animation:javascript 2s ease-out;
  -webkit-animation:javascript 2s ease-out;
  background-color: #f0bb4b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0bb4b), to(#d9aa44));
  background-image: -webkit-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -moz-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -ms-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: -o-linear-gradient(top, #f0bb4b, #d9aa44);
  background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.bootstrap {
  width:85%;
  -moz-animation:bootstrap 2s ease-out;
  -webkit-animation:bootstrap 2s ease-out;
  background-color: #a076e0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5B4282), to(#6c4d9b));
  background-image: -webkit-linear-gradient(top, #5B4282, #6c4d9b);
  background-image: -moz-linear-gradient(top, #5B4282, #6c4d9b);
  background-image: -ms-linear-gradient(top, #5B4282, #6c4d9b);
  background-image: -o-linear-gradient(top, #5B4282, #6c4d9b);
  background-image: linear-gradient(top, #5B4282, #6c4d9b);
}

.html-css {
  width:93%;
  -moz-animation:html-css 2s ease-out;
  -webkit-animation:html-css 2s ease-out;
  background-color: #f674a4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f674a4), to(#e06995));
  background-image: -webkit-linear-gradient(top, #f674a4, #e06995);
  background-image: -moz-linear-gradient(top, #f674a4, #e06995);
  background-image: -ms-linear-gradient(top, #f674a4, #e06995);
  background-image: -o-linear-gradient(top, #f674a4, #e06995);
  background-image: linear-gradient(top, #f674a4, #e06995);
}

.jquery {
  width:85%;
  -moz-animation:jquery 2s ease-out;
  -webkit-animation:jquery 2s ease-out;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: -webkit-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -moz-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -ms-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: -o-linear-gradient(top, #a1ce5b, #91ba52);
  background-image: linear-gradient(top, #a1ce5b, #91ba52);
}

.angular {
  width:80%;
  -moz-animation:angular 2s ease-out;
  -webkit-animation:angular 2s ease-out;
  background-color: #a1ce5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a1ce5b), to(#91ba52));
  background-image: -webkit-linear-gradient(top, #E62A39, #B92933);
  background-image: -moz-linear-gradient(top, #E62A39, #B92933);
  background-image: -ms-linear-gradient(top, #E62A39, #B92933);
  background-image: -o-linear-gradient(top, #E62A39, #B92933);
  background-image: linear-gradient(top, #E62A39, #B92933);
}

.react {
  width:80%;
  -moz-animation:react 2s ease-out;
  -webkit-animation:react 2s ease-out;
  background-color: #66b3cc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#66b3cc), to(#5da3ba));
  background-image: -webkit-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -moz-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -ms-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: -o-linear-gradient(top, #66b3cc, #5da3ba);
  background-image: linear-gradient(top, #66b3cc, #5da3ba)
}

@-moz-keyframes javascript {0%  { width:0px;} 90%{ width:90%;}  }
@-moz-keyframes bootstrap {0%  { width:0px;} 85%{ width:85%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 93%{ width:93%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 80%{ width:80%;}  }
@-moz-keyframes angular      { 0%  { width:0px;} 85%{ width:85%;}  }
@-moz-keyframes react   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes javascript       { 0%  { width:0px;} 90%{ width:90%;}  }
@-webkit-keyframes bootstrap       { 0%  { width:0px;} 85%{ width:85%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 93%{ width:93%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 85%{ width:85%;}  }
@-webkit-keyframes angular      { 0%  { width:0px;} 80%{ width:80%;}  }
@-webkit-keyframes react   { 0%  { width:0px;} 100%{ width:80%;}  }

/*<-------------------------------------------FOOTER---------------------------------------------->*/
footer {
  position: relative;
  bottom: -100px;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: .6em;
}

#clearfooter {
height: 20px;
clear: both;
}