html {
  height: 100%;
}
body {
  background: #313c4c;
  color: white;
  height: 100%;
  font-family: "zipper";
}

h2 {
    text-decoration: underline;
}

#app {
  position:relative;
  margin-bottom: -20px;
  min-height: 100%;
}


@font-face {
    font-family: zipper;
    src: url(/fonts/zipper.otf);
}
/*<-----------------------------------------HEADER----------------------------------------->*/

#header {
  display: block;
  margin-top: 3vw;
  border: solid white 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 9vmax;
  font-size: 5vmax;
}

#subHeader {
  display: block;
  margin-top: 3vw;
  text-align: center;
  vertical-align: middle;
  line-height: 4vmax;
  font-size: 3vmax;
  color: black;
  background-color: white;
}


/*<---------------------------------------------SKILLS-------------------------------------------->*/
#iconContainer {
  margin-top: 4vmax;
  text-align: center;
}
.icon {
  height: 5vmax;
  margin-left: 10px;
  margin-right: 10px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

/*<---------------------------------------------ABOUT ME-------------------------------------------->*/

#aboutMe {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 25px;
  background-color: white;
  color: black;
}

#aboutMeLeft {
  border: solid 1px white;
}

#aboutMeRight {
  border: solid 1px white;
}

#contactInfo{

}
/*<-------------------------------------------FOOTER---------------------------------------------->*/
footer {
  position: relative;
  bottom: -100px;
  height: 20px;
  width: 100%;
  text-align: center;
  font-size: .6em;
}

#clearfooter {
height: 20px;
clear: both;
}