body {
  background: #313c4c;
  color: white;
}



/*<-----------------------------------------HEADER----------------------------------------->*/

#header {
  display: block;
  margin-top: 3vw;
  border: solid white 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 9vmax;
  font-size: 5vmax;
}

#subHeader {
  display: block;
  margin-top: 3vw;
  text-align: center;
  vertical-align: middle;
  line-height: 4vmax;
  font-size: 3vmax;
  color: black;
  background-color: white;
}


/*<---------------------------------------------SKILLS-------------------------------------------->*/
#iconContainer {
  margin-top: 4vmax;
  text-align: center;
}
#aboutMeIcon {
  height: 5vmax;
  margin-left: 10px;
  margin-right: 10px;
}





/*<-------------------------------------------FOOTER---------------------------------------------->*/
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  overflow:hidden;
  text-align: center;
  font-size: .6em;
}